<div class = 'top-wrapper'>
  <div class = 'logo'>
    <%= link_to root_path do %>
      <%= image_tag("", alt: "Logo") %>
      REAL English
    <% end %>
  </div>
</div>

<div class = 'sign-in'>
  <%= link_to '会員登録はこちら', '#', class: 'sign-in-link' %>
</div>
<div class = 'login'>
  <%= link_to 'ログインはこちら', '#', class: 'login-link' %>
</div>

<div class = 'dictionary-public'>
  <%= link_to 'Dictionary', '#', class: 'public-dictionary-link' %>
</div>

<div class = 'how-to-use'>
  <h1>利用方法</h1>
</div>